<script>
var phylocanvas;
var vtable;
</script>

<style>
.leaflet-container {
    background: #ffffff;
}
</style>

<div class="modal fade" id="genelistmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gltabledesc"></h4>
      </div>
      <div class="modal-body">
        <div class="span3">
          <table class="table table-striped" id="glmtable">
            <thead>
              <tr>
                <th data-field="id">Gene ID</th>
                <th data-field="product">Product</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:10px;">&nbsp;</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#stats">Genome statistics</a></li>
  <% if @job.result_files.size > 0 then %>
  <li><a data-toggle="tab" href="#result">Result files</a></li>
  <% end %>
  <% if @job[:finished_at] then %>
  <li><a data-toggle="tab" href="#orth">Orthology</a></li>
  <% end %>
  <% if @job[:finished_at] then %>
  <li><a data-toggle="tab" href="#phylo">Phylogeny</a></li>
  <% end %>
  <li><a data-toggle="tab" href="#synteny">Synteny</a></li>
  <li><a data-toggle="tab" href="#params">Job parameters</a></li>
  <li><a data-toggle="tab" href="#logs">Pipeline logs</a></li>
  <li><a data-toggle="tab" href="#report">Validator report</a></li>
</ul>

<div class="tab-content">
  <div id="stats" class="tab-pane fade in active">
      <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th class="text-right">Reference</th>
                <th class="text-right">Query</th>
            </tr>
        </thead>
         <tbody>
            <tr>
                <td>Number of annotated regions/sequences</td>
                <td class="text-right"><%= @ref[:nof_regions]%></td>
                <td class="text-right"><b><%= @job.genome_stat[:nof_regions]%></b></td>
            </tr>
            <tr>
                <td>Number of genes</td>
                <td class="text-right"><%= @ref[:nof_genes]%></td>
                <td class="text-right"><b><%= @job.genome_stat[:nof_genes]%></b></td>
            </tr>
            <tr>
                <td>Gene density (genes/megabase)</td>
                <td class="text-right">&ndash;</td>
                <td class="text-right"><b><%= @job.genome_stat[:gene_density]%></b></td>
            </tr>
            <tr>
                <td>Number of coding genes</td>
                <td class="text-right"><%= @ref[:nof_coding_genes]%></td>
                <td class="text-right"><b><%= @job.genome_stat[:nof_coding_genes]%></b></td>
            </tr>
            <% if @job.genome_stat[:nof_pseudogenes] then %>
            <tr>
                <td>Number of pseudogenes</td>
                <td class="text-right">&ndash;</td>
                <td class="text-right"><b><%= @job.genome_stat[:nof_pseudogenes]%></b></td>
            </tr>
            <% end %>
            <tr>
                <td>Number of genes with function</td>
                <td class="text-right">&ndash;</td>
                <td class="text-right"><b><%= @job.genome_stat[:nof_genes_with_function]%></b></td>
            </tr>
            <% if @job.genome_stat[:nof_pseudogenes_with_function] then %>
            <tr>
                <td>Number of pseudogenes with function</td>
                <td class="text-right">&ndash;</td>
                <td class="text-right"><b><%= @job.genome_stat[:nof_pseudogenes_with_function]%></b></td>
            </tr>
            <% end %>
            <tr>
                <td>Number of non-coding genes</td>
                <td class="text-right"><%= @ref[:nof_genes].to_i - @ref[:nof_coding_genes].to_i %></td>
                <td class="text-right"><b><%= @job.genome_stat[:nof_genes].to_i - @job.genome_stat[:nof_coding_genes].to_i %></b></td>
            </tr>
            <tr>
                <td>Number of genes with multiple CDSs</td>
                <td class="text-right">&ndash;</td>
                <td class="text-right"><b><%= @job.genome_stat[:nof_genes_with_mult_cds]%></b></td>
            </tr>
            <tr>
                <td>Overall GC%</td>
                <td class="text-right">&ndash;</td>
                <td class="text-right"><b><%= @job.genome_stat[:gc_overall].round(2)%></b></td>
            </tr>
            <tr>
                <td>Coding GC%</td>
                <td class="text-right">&ndash;</td>
                <td class="text-right"><b><%= @job.genome_stat[:gc_coding].round(2)%></b></td>
            </tr>
        </tbody>
      </table>
  </div>

  <% if @job.result_files.size > 0 then %>
    <div id="result" class="tab-pane fade">
      <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th class="text-right">Format</th>
                <th class="text-right">MD5</th>
                <th class="text-right">Size</th>
            </tr>
        </thead>
        <tbody>
          <% @job.result_files.sort.each do |file| %>
            <tr>
                <td><%= link_to file.file.url do %>
                    <i class="glyphicon glyphicon-download-alt"></i>
                     <%= JobsHelper::file_description(file.file.name)[:title] %>
                <% end %></td>
                <td class="text-right">
                    <a data-toggle="popover"
                       data-placement="left"
                       data-trigger="hover"
                       href="<%= JobsHelper::format_description(JobsHelper::file_description(file.file.name)[:format])[:specurl] %>"
                       data-content="<%= JobsHelper::format_description(JobsHelper::file_description(file.file.name)[:format])[:desc] %>. Click to see the specification.">
                       <%= JobsHelper::file_description(file.file.name)[:format] %></i>
                    </a>
                  </td>
                <% if file.md5 then %>
                  <td class="text-right">
                    <a data-toggle="popover"
                       data-placement="left"
                       data-trigger="hover"
                       data-content="<%= file.md5 %>">
                       <i class="glyphicon glyphicon-barcode"></i>
                    </a>
                  </td>
                <% else %>
                  <td class="text-right">n/a</td>
                <% end %>
                <td class="text-right"><%= number_to_human_size(file.file.size) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <span class="pull-right">
        <%= link_to all_result_files_url(id: @job[:job_id]) do %>
          <i class="glyphicon glyphicon-download-alt"></i>
          Download all result files (ZIP)
        <% end %>
      </span>
    </div>
  <% end %>

  <% if @job[:finished_at] then %>
    <div id="orth" class="tab-pane fade">
        <div style="display: none" id="orthoview">
          <div class="row">
            <p>These Venn diagrams show shared and species-specific
               protein-coding gene clusters in the target genome
               <%= @job[:prefix] %> (left, green) and the <%= @ref[:name] %>
               reference (right, blue). Singletons, i.e. genes without
               orthologs and paralogs in either species, are placed outside
               the Venn diagram to the left and right.</p>
            <p>Click on the numbers to view clusters and singleton gene
               lists.</p>
          </div>
          <div class="center-block" style="width:700px;float:none;">
            <table class="small" style="width:700px;float:none;">
              <tr>
              <td style="width:12%;">
                <%= link_to '', {:class => 'genome-singletons-link'} do %>
                  <span id="genome-singletons"></span> singletons
                <% end %>
              </td>
              <td style="width:76%;"><div id="jvenn-container"></div></td>
              <td style="width:12%;">
                <%= link_to '', {:class => 'ref-singletons-link'} do %>
                  <span id="ref-singletons"></span> singletons
                <% end %>
              </td>
              </tr>
            </table>
          </div>
        </div>
        <div id="orthospinner">
          <%= image_tag 'ajax-loader.gif' %><br /><br />
        </div>
        <div id="orthotable">
          <h3 style="display: none" id='vtabledesc'></h3>
          <div style="display: none" id="vtablediv">
            <table class="table table-condensed compact" style="width: 100%" cellspacing="0" id="vtable">
            </table>
          </div>
          <div style="display: none" id="gltablediv">
            <table class="table table-condensed compact" style="width: 100%" cellspacing="0" id="gltable">
            </table>
          </div>
        </div>
        <div>
          <p>These clusters have been created using <a href="https://github.com/davidemms/OrthoFinder">OrthoFinder</a> v2.5.4 based on
             Diamond hits (e-value cutoff: 10<sup>-3</sup>) between the
             translated protein sequences of the target and reference genomes'
             protein-coding genes.</p>
          <p><%= link_to clusters_url(id: @job[:job_id]) do %>
              <i class="glyphicon glyphicon-download-alt"></i> Cluster assignments
         <% end %> as OrthoFinder Orthogroups output file</p>
        </div>
    </div>
  <% end %>

  <% if @job[:finished_at] and @job.tree then %>
    <div id="phylo" class="tab-pane fade">
      <div id ="phyloview">
        <div class="row">
          <p>Click and drag in the diagram below to pan around. Use the mouse wheel to zoom in and out. The newly annotated genome in this job is highlighted: <span class='text-info'><%= @job[:prefix] %></span>.</p>
        </div>
        <div class="center-block col-md-4" style="float: none;">
          <form>
            <div class="btn-group" data-toggle="buttons">
                <label onClick="phylocanvas.setTreeType('rectangular');" class="btn btn-default active">
                    <input id="tree-rectangular" name="treetype" type="radio" checked="checked" /> Rectangular
                </label>
                <label onClick="phylocanvas.setTreeType('circular');" class="btn btn-default">
                    <input id="tree-circular" name="treetype" type="radio" /> Circular
                </label>
                <label onClick="phylocanvas.setTreeType('radial');" class="btn btn-default">
                    <input id="tree-radial" name="treetype" type="radio" /> Radial
                </label>
                <label onClick="phylocanvas.setTreeType('diagonal');" class="btn btn-default">
                    <input id="tree-diagonal" name="treetype" type="radio"  /> Diagonal
                </label>
            </div>
          </form>
        </div>
        <div id="PhyloCanvas" style="height: 600px; width=100%;"> </div>
      </div>
      <div id="phylospinner">
        <%= image_tag 'ajax-loader.gif' %>
      </div>
      <div>
        <p>These clusters have been created using
            <a href="http://meta.microbesonline.org/fasttree/">FastTree</a> based on
             a multiple sequence alignment created by <a href="http://mafft.cbrc.jp/alignment/software/">MAFFT</a>
             (<tt>--auto --anysymbol --retree 1 --parttree</tt>)
             of the concatenated DNA sequences of up to 50 single-copy
             <%= link_to '', {:class => 'tree_genes'} do %>core genes<% end %>
             from all organisms appearing as taxa in the tree above.</p>
             <p>Tree drawn by <a href="http://phylocanvas.org">Phylocanvas</a>.</p>
          <p><%= link_to @job.tree.seq.url do %>
          <i class="glyphicon glyphicon-download-alt"></i> Multiple sequence alignment
        <% end %> for this tree (FASTA)<br />
        <%= link_to '', {:class => 'tree_genes'} do %>
          <i class="glyphicon glyphicon-list"></i> Core genes
        <% end %> used to build this tree</p>
      </div>
    </div>
  <% end %>

  <div id="synteny" class="tab-pane fade">
    <% if @job[:do_contiguate] and @job.circos_images.size > 0 then %>
      <div class="row">
        <p>Each circle below represents a single target-reference
           pseudochromosome alignment. Click on the thumbnail to zoom in.
           <span class="pull-right">
             <%= link_to all_synteny_images_url(id: @job[:job_id]) do %>
               <i class="glyphicon glyphicon-download-alt"></i>
               Download all <%= @job.circos_images.size %> images (ZIP)
             <% end %>
           </span>
        </p>
        <ul class="horizontal-slide">
          <% @job.circos_images.sort { |a,b| a.chromosome <=> b.chromosome }.each do |image| %>
          <li class="span2">
            <div class="item">
              <a href="#">
                <%= image_tag image.file.thumb('70x70').url, class: "media-object chrthumb", :data => {:full_URL => image.file.url, :chr => image.chromosome } %>
              </a>
              <span class="caption">
                <%= image.chromosome %>
                <%= link_to image.file.url,
                            title: "Download hi-res image for chromosome #{image.chromosome} ",
                            rel: "tooltip" do %>
                  <i class="glyphicon glyphicon-download-alt" ></i>
                <% end %>
              </span>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="row" id="map-row" style="display:none">
        <style>
            #image-map {
              width: 100%;
              height: 800px;
              border: 1px solid #ccc;
              margin-bottom: 10px;
            }
        </style>
        <p>
          This is <span id='map-header'></span>. Click and drag in the diagram below to pan around. Use the mouse wheel or the <span class='glyphicon glyphicon-plus'></span>/<span class='glyphicon glyphicon-minus'></span> icons to zoom in and out.
        </p>
        <p>
          top: reference chromosome from <i><%= @ref[:name] %></i>, bottom: <i> <%= @job[:name] %></i> contiguated pseudochromosome <br />
          <span class='fa fa-stop' style='color: #fb6a4a'></span> = forward strand gene  &emsp; <span class='fa fa-stop' style='color: #6aadd5'></span> = reverse strand gene &emsp; <span class='fa fa-stop' style='color: #74c476'></span> = missing core gene &emsp; <span class='fa fa-stop' style='color: #0000000'></span> = singleton gene &emsp; <span class='fa fa-stop' style='color: #fff64a'></span> = gap
        </p>
        <div id="image-map"></div>
      </div>
    <% else %>
      <div class="row">
        <p>This job does not include reference-based contiguation.
           No reference synteny plots are available.</p>
      </div>
    <% end %>
  </div>

  <div id="logs" class="tab-pane fade">
    <div class="row">
      <h4>Standard output:</h4>
      <pre class='span3'><%= @job[:stdout] %></pre>
      <% if @job[:stderr] && @job[:stderr].length > 0 then %>
      <h4>Standard error:</h4>
      <pre class='span3'><%= @job[:stderr] %></pre>
      <% end %>
    </div>
  </div>

  <div id="params" class="tab-pane fade">
    <div class="row">
      <div>
        The parameters you have chosen for your <b><%= @job.sequence_file.file_name %></b> vs. <b><%= @ref[:name] %></b> run are:
      </div>
      <table class="table table-striped">
          <tbody>
            <tr>
                <td>Pseudochromosomes</td>
                <td>
                    <% if @job[:do_contiguate] %>
                      &#10003;
                    <% else %>
                      &#10007;
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>Protein evidence</td>
                <td>
                    <% if @job[:do_exonerate] %>
                      &#10003;
                    <% else %>
                      &#10007;
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>BRAKER</td>
                <td>
                    <% if @job[:run_braker] %>
                      &#10003;
                    <% else %>
                      &#10007;
                    <% end %>
                </td>
            </tr>
            <% if @job[:transfer_tool] == "ratt" || @job[:do_ratt]  %>
            <tr>
                <td>Transfer tool</td>
                <td>RATT</td>
            </tr>
            <tr>
                <td>RATT transfer type</td>
                <td><%= @job[:ratt_transfer_type] %></td>
            </tr>
            <% else %>
            <tr>
                <td>Transfer tool</td>
                <td>Liftoff</td>
            </tr>
            <% end %>
            <tr>
                <td>SNAP</td>
                <td>
                    <% if @job[:run_snap] %>
                      &#10003;
                    <% else %>
                      &#10007;
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>Max gene length</td>
                <td><%= @job[:max_gene_length] %></td>
            </tr>
            <tr>
                <td>Max overlap</td>
                <td><%= @job[:max_overlap] %></td>
            </tr>
            <tr>
                <td>Score threshold</td>
                <td><%= @job[:augustus_score_threshold].round(2) %></td>
            </tr>
            <tr>
                <td>Transcript evidence</td>
                <td>
                    <% if @job[:use_transcriptome_data] %>
                      &#10003;
                    <% else %>
                      &#10007;
                    <% end %>
                </td>
            </tr>
            <% if @job[:use_transcriptome_data] %>
            <tr>
                <td>Transcript filename</td>
                <td><%= @job.transcript_file.file_name %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="report" class="tab-pane fade">
    <div class="row">
      <div id="report_text">
      </div>
    </div>
  </div>

</div>

<script>
$(document).ready(function(){
  <% if @job[:do_contiguate] and @job.circos_images.size > 0 then %>
  // initialize Leaflet
  var map = L.map('image-map', {
      minZoom: 1,
      maxZoom: 7,
      center: [0, 0],
      zoom: 5,
      crs: L.CRS.Simple,
      attributionControl: false
    });
  $('#image-map').resizable();
  map.setView(new L.LatLng(0, -2));
  <% end %>

  // hide Phylocanvas
  $('#phyloview').hide();

  // activate popovers
  $('[data-toggle="popover"]').popover();

  // pre-load ortholog data
  $.getJSON( "<%= job_path(:id => @job[:job_id]) %>/orths", function(data) {
    $('#orthospinner').hide();
    $('#orthoview').show();
    $('#jvenn-container').jvenn({
      displayStat: false,
      exporting: true,
      series: data,
      fnClickCallback: function() {
        var value = "";
        for (name in this.listnames) {
          value += this.listnames[name] + " ";
        }
        value = value.trim();
        $('#orthotable').hide();
        $('#orthospinner').show();
        $.getJSON( "<%= job_path(:id => @job[:job_id]) %>/orths/cluster/" + value, function(data2) {
          $('#vtabledesc').text("Genes in: " + value);
          $('#vtabledesc').show();
          $('#gltablediv').hide();
          $('#vtablediv').show();
          $('#vtable').DataTable( {
              destroy: true,
              data: data2,
              "columns": [
                  { title: "Cluster", data: "cluster" },
                  { title: "ID", data: "id" },
                  { title: "Product", data: "product" }
              ]
          });
          $('#orthospinner').hide();
          $('#orthotable').show();
        });
      }
    });
    $('#orthospinner').hide();
    $('#orthoview').show();
  });
  $.getJSON( "<%= job_path(:id => @job[:job_id]) %>/singletons", function(data) {
    $('#ref-singletons').text(data.ref.length);
    $('#genome-singletons').text(data.this.length);
    $('.ref-singletons-link').click(function(event) {
      $('#vtabledesc').text("Singleton genes in reference genome");
      $('#vtabledesc').show();
      $('#vtablediv').hide();
      $('#gltablediv').show();
      $('#orthotable').show();
      $('#gltable').DataTable({
          destroy: true,
          data: data.ref,
          "columns": [
              { title: 'Gene ID', data: "gene_id" },
              { title: 'Sequence', data: "seqid" },
              { title: 'Start', data: "loc_start" },
              { title: 'End', data: "loc_end" },
              { title: 'Strand', data: "strand" },
              { title: 'Product', data: "product" }
          ]
      });
      event.preventDefault();
    });
    $('.genome-singletons-link').click(function(event) {
      $('#vtabledesc').text("Singleton genes in new genome");
      $('#vtabledesc').show();
      $('#vtablediv').hide();
      $('#gltablediv').show();
      $('#orthotable').show();
      $('#gltable').DataTable({
          destroy: true,
          data: data.this,
          "columns": [
              { title: 'Gene ID', data: "gene_id" },
              { title: 'Sequence', data: "seqid" },
              { title: 'Start', data: "loc_start" },
              { title: 'End', data: "loc_end" },
              { title: 'Strand', data: "strand" },
              { title: 'Product', data: "product" }
          ]
      });
      event.preventDefault();
    });
  });

  var firstPhyloTabOpen = true;
  var firstReportTabOpen = true;
  // hook into tab change events
  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
    var target = $(e.target).attr("href");
    if (target == '#phylo' && firstPhyloTabOpen) {
      $.get('<%= job_path(:id => @job[:job_id]) %>/tree.nwk', function(tree) {
        $('#phylospinner').hide();
        $('#phyloview').show();
        phylocanvas = new PhyloCanvas.Tree('PhyloCanvas', { history_collapsed : true });
        phylocanvas.setTreeType("rectangular");
        phylocanvas.load(tree);
        $('.pc-history').hide();
        phylocanvas.setNodeColourAndShape('<%= @job[:prefix] %>', '#31708f');
        phylocanvas.backColour = function(node){
          if(node.getLabel() == "<%= @job[:prefix] %>") {
            return true;
          }
        };
      });
      firstPhyloTabOpen = false;
    }
    if (target == '#report' && firstReportTabOpen) {
      $.get('<%= job_path(:id => @job[:job_id]) %>/report.html', function(report) {
        $('#report_text').html(report)
        $('[data-toggle="popover"]').popover();
      });
      firstReportTabOpen = false;
    }
  });

  $('.chrthumb').on('click',function(event){
    var chr = $(this).attr('data-chr');
    var w = 2000, h = 2000, url = $(this).attr('data-full-URL');
    var southWest = map.unproject([0, h], map.getMaxZoom()-1);
    var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
    var bounds = new L.LatLngBounds(southWest, northEast);
    L.imageOverlay(url, bounds).addTo(map);
    $('#map-row').fadeIn();
    $('#map-header').html("Chromosome " + chr)
    event.preventDefault();
    return false;
  });

  $('.tree_genes').click(function(event) {
    $.getJSON( "<%= job_path(:id => @job[:job_id]) %>/tree/genes", function(data) {
      $("#glmtable").empty();
      for(var i = 0; i < data.length; i++) {
        $("#glmtable").append("<tr><td>" + data[i].gene_id + "</td><td>"
                                       + data[i].product + "</td></tr>");
      }
      $('#genelistmodal').modal();
    });
    event.preventDefault();
    return false;
  });
});
</script>