  <% content_for(:title, "#{current_user[:fullname]}'s jobs") %>

  <div class="page-header">
    <h1><%= current_user[:fullname] %>'s jobs
      <% if @running > 0 %>
        <small> (<%= @running %> currently running)</small>
      <% end %>
    </h1>
  </div>
  <table style="white-space:nowrap;" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>submitted</th>
                <th>started</th>
                <th>finished</th>
                <th></th>
                <th></th>
           </tr>
        </thead>
        <tbody>
<% @outjobs.each do |job| %>
            <tr  >
                <td width="100%"><span title="<%= job[:job_id] %>"><%= job[:name] %></span></td>
                <td><%= distance_of_time_in_words(Time.now,job[:created_at]) %> ago</td>
                <td>
                  <% if job[:started_at] then %>
                    <%= distance_of_time_in_words(Time.now,job[:started_at]) %> ago
                  <% end %>
                </td>
                <td><% if job[:finished_at] then %>
                    <%= distance_of_time_in_words(Time.now,job[:finished_at]) %> ago
                  <% end %>
                </td>
                <td style="padding-left: 20px; padding-right: 20px;">
                    <% if job[:queued] then %>
                        <span class="label label-default">Queued</span>
                    <% elsif job[:working] then %>
                        <span class="label label-info">Working</span>
                    <% elsif job[:failed] then %>
                        <span class="label label-danger">Failed</span>
                    <% elsif job[:complete] then %>
                        <span class="label label-success">Completed</span>
                    <% else %>
                        <span class="label label-default">No status available</span>
                    <% end %>
                </td>
                <td>
                   <div class="btn-group">
                   <% if job[:job_id] then %>
                     <%= link_to job_path(id: job[:job_id]), method: :delete, data: { confirm: "Are you sure?" } do %>
                       <i class="glyphicon glyphicon-trash"></i> Delete
                     <% end %>&nbsp;
                     <% if job[:complete] then %>
                       <%= link_to job_path(id: job[:job_id]) do %>
                         <i class="glyphicon glyphicon-eye-open"></i> Show
                       <% end %>
                     <% end %>
                   <% end %>
                   </div>
                </td>
            </tr>
<% end %>
        </tbody>
    </table>

  <%= button_to new_job_path, class: "btn btn-default", method: :get do %>
         <i class="glyphicon glyphicon-plus"></i> New job
  <% end %>