<% content_for(:title, "Submit new Companion job") %>
<% content_for :head do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.7/bootstrap-slider.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.7/css/bootstrap-slider.min.css" />
<% end %>

<div class="page-header">
  <h1>Submit a new annotation job</h1>
</div>

<%= form_for @job do |f| %>
<%= render 'errors', object: @job %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step 1: Basic job properties</h3>
  </div>
  <div class="panel-body">
    <div>
      <p>First of all, please specify a free-text <b>name</b> for your new job. It should reflect the purpose of your job, and should probably include the organism you are annotating.</p>
      <p> Example: <i>My new species annotation</i></p>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1">Job name</span>
      <%= f.text_field :name, class: 'form-control', :aria => {:describedby => "sizing-addon1"}, required: true %>
    </div>
    <div style="padding-top: 20px;">
      <p>Please also give a short <b>species prefix</b> that will be used to name entities (such as genes, pseudochromosomes, etc.) generated during the annotation run. It should not contain spaces or special characters.</p>
      <p> Example: <i><%= CONFIG['example_species']['prefix'] %></i></p>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Species prefix</span>
      <%= f.text_field :prefix, class: 'form-control', :placeholder => CONFIG['example_species']['prefix'], :aria => {:describedby => "sizing-addon2"}, required: true %>
    </div>
    <div style="padding-top: 20px;">
      <p>Finally, please provide a <b>species name</b> that describes the target species you are annotating.</p>
      <p> Example: <i><%= CONFIG['example_species']['name'] %></i></p>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Species name</span>
      <%= f.text_field :organism, class: 'form-control', :placeholder => CONFIG['example_species']['name'], :aria => {:describedby => "sizing-addon2"}, required: true %>
    </div>
  </div>
</div>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step 2: Target sequence</h3>
  </div>
  <div class="panel-body">
    <p>Please upload a <b>target sequence file</b> to be annotated from your
       local filesystem using the button below. The file (FASTA,
       EMBL or GenBank format) can be gzip- or bzip2-compressed. In this case
       it must have a <tt>.gz</tt> or <tt>.bz2</tt> suffix.</p>
       <p class="alert alert-warning">Note: The maximal size of the <i>unzipped</i> sequence
       file is <b><%= CONFIG['max_file_size_mb'] %> MB</b>, and the
       maximum number of individual sequences in it is <b>3000</b>.</p>
       <%= f.fields_for :sequence_file do |s_f| %>
         <%= s_f.file_field :file, required: true %>
       <% end %>
       
       <% if (CONFIG['organism_group'] == "parasite") then %>                       
        <p><a href="/examples/PfIT_05.fasta">Here</a> is an example sequence
        input file for a <i>Plasmodium falciparum</i> IT chromosome 5 sequence
        that can be used with the <i>Plasmodium falciparum</i> 3D7 example
        reference set (choose below in step 4) for a quick example run.
        To use it, please download it to your local machine and upload it using
        the button above.</p>
      <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step 3: Transcript evidence</h3>
  </div>
  <div class="panel-body">
    <div><p>The <i>Companion</i> pipeline can optionally make use of assembled
      transcripts in the GTF format as created by Cufflinks.</p> </div>
      <div class="form-group">
        <div class="radio">
          <label><%= f.radio_button :use_transcriptome_data, true, required: true, onClick: "$('#transcript-selection').slideDown();$('[id^=job_transcript_file_id]').prop('required', true);" %> Yes, use transcript evidence.</label>
        </div>

        <div id="transcript-selection">
          <p>Please select a <b>transcript evidence file</b> to be used to improve the structural annotation. This file must be a GTF file with <tt>exon</tt> features, as delivered, for example, by the Cufflinks software. The sequence IDs in this file must correspond in name and coordinate system to the ones given in the target sequence file above. Choose a GTF file from your local filesystem using the button below.</p>
          <p class="alert alert-warning">Please do <b>not</b> upload raw reads (e.g. FASTQ) or alignment (e.g. BAM) files here.</p>
          <%= f.fields_for :transcript_file do |t_f| %>
          <%= t_f.file_field :file %>
          <% end %>
        </div>

        <div class="radio">
          <label><%= f.radio_button :use_transcriptome_data, false, required: true, onClick: "$('#transcript-selection').slideUp();$('[id^=job_transcript_file_id]').prop('required', false);" %> No, do not use transcript evidence.</label>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Step 4: Reference organism</h3>
    </div>
    <div class="panel-body">
     <div><p>Please pick a (if possible closely related) <b>reference organism</b> for this annotation run. This organism will be used to specify the models for gene finding, functional annotation transfer and pseudochromosome contiguation.</p> </div>
     <div class="form-group">
      <%= f.collection_select :reference_id,
      Reference.all.sort {|a,b| a[:name] <=> b[:name]},
      :id, :name_with_genes,
      {:prompt => 'Please select a reference species'},
      {:class => "form-control", :required => true} %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step 5: Pseudochromosome contiguation</h3>
  </div>
  <div class="panel-body">
   <div> <p>The contiguation step will try to orientate the sequences in your input file to align with the chromosomal sequences of the reference organism to build pseudochromosomes, which will then be used as the target sequences for gene annotation. This step is optional; if it is not desired then no modifications will be made to the input sequences.</p> </div>
   <div class="form-group">
     <div class="radio">
       <label><%= f.radio_button :do_contiguate, true, required: true, onClick: "$('#job_abacas_match_size').bootstrapSlider('enable');$('#job_abacas_match_sim').bootstrapSlider('enable');" %> Yes, contiguate pseudochromosomes.</label>
     </div>
     <div class="radio">
       <label><%= f.radio_button :do_contiguate, false, required: true, onClick: "$('#job_abacas_match_size').bootstrapSlider('disable');$('#job_abacas_match_sim').bootstrapSlider('disable');" %> No, do not modify my input sequences.</label>
     </div>
   </div>
   <div>
    <p>Select minimum required match length for contig placement: <span id="job_abacas_match_size_curval"><%= @job["abacas_match_size"] %></span> bp</p>
   </div>
   <div>
     200 <%= f.number_field :abacas_match_size, class: 'form-control', :data => {'slider-id' => 'matchsizeslider', 'slider-min' => "200", 'slider-max' => '20000', 'slider-step' => '50', 'slider-value' => @job["abacas_match_size"]}, required: true %> 20000
   </div>
   <div style="padding-top: 20px;">
    <p>Select minimum required match similarity for contig placement: <span id="job_abacas_match_sim_curval"><%= @job["abacas_match_sim"] %></span> %</p>
   </div>
   <div>
      30 <%= f.number_field :abacas_match_sim, class: 'form-control', :data => {'slider-id' => 'matchsimslider', 'slider-min' => "25", 'slider-max' => '100', 'slider-step' => '5', 'slider-value' => @job["abacas_match_sim"]}, required: true %> 100
   </div>
 </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step 6: Advanced settings (click chevron to the right to show/hide)</h3>
    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
  </div>
  <div id="advanced-panel" class="panel-body">
   <div> <p>Do you want to use protein sequences from your reference organism aligned to your target sequence as additional evidence during gene finding? This can improve the accuracy of the gene prediction step but will severely increase your job's running time.</p> </div>
   <div class="form-group">
     <div class="radio">
       <label><%= f.radio_button :do_exonerate, true, required: true %> Yes, align reference proteins to target sequence.</label>
     </div>
     <div class="radio">
       <label><%= f.radio_button :do_exonerate, false, required: true %> No, do not use reference protein evidence.</label>
     </div>
   </div>
   <div> <p>Do you want to perform pseudogene detection using frameshifted reference protein-DNA alignments? This will moderately increase your job's running time.</p> </div>
   <div class="form-group">
     <div class="radio">
       <label><%= f.radio_button :do_pseudo, true, required: true %> Yes, perform pseudogene detection.</label>
     </div>
     <div class="radio">
       <label><%= f.radio_button :do_pseudo, false, required: true %> No, do not try to call pseudogenes.</label>
     </div>
   </div>
   <div> <p>Do you want to use the <a href="http://nar.oxfordjournals.org/content/39/9/e57" target="_blank">Rapid Annotation Transfer Tool (RATT)</a> to directly map highly conserved genes from the reference to the target genome? This step can result in high quality gene models, but is not guaranteed to work for annotating genomes not closely related to the chosen reference.</p> </div>
   <div class="form-group">
     <div class="radio">
       <label><%= f.radio_button :do_ratt, true, required: true %> Yes, use RATT with the
        <%= f.collection_select :ratt_transfer_type, ['Species','Assembly','Strain'], :to_s, :to_s, include_blank: false %>
        transfer type to transfer reference gene models.</label>
      </div>
      <div class="radio">
       <label><%= f.radio_button :do_ratt, false, required: true %> No, only do <i>ab initio</i> gene finding.</label>
     </div>
   </div>
   <div> <p>The value below determines the maximal length of an individual gene in the resulting annotation. All genes predicted by the pipeline longer than this value will be discarded from the result set.</p>
    <p> Example: <i>20000</i></p></div>
    <div class="input-group">
     <span class="input-group-addon" id="sizing-addon2">Maximum gene length</span>
     <%= f.number_field :max_gene_length, class: 'form-control', :aria => {:describedby => "sizing-addon2"}, required: true %>
   </div>
   <div style="padding-top: 20px;"><p>The value below sets the AUGUSTUS score inclusion threshold for a gene to be considered as predicted <i>de novo</i>. Lower this value to make gene prediction more sensitive.</p>
     <p> Example: <i>0.4</i></p></div>
     <div class="input-group">
       <span class="input-group-addon" id="sizing-addon2">AUGUSTUS score threshold</span>
       <%= f.number_field :augustus_score_threshold, class: 'form-control', :aria => {:describedby => "sizing-addon2"}, required: true, :step => 'any' %>
     </div>
     <div style="padding-top: 20px;"><p>Please set the following values which are required for valid GAF output.</p>
       <p> Example: <i><%= CONFIG['taxon']['example'] %></i>, see <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi" target="_blank">NCBI Taxonomy Browser</a>. The default is <%= CONFIG['taxon']['default'] %>.</p></div>
       <div class="input-group">
         <span class="input-group-addon" id="sizing-addon2">Taxon ID</span>
         <%= f.number_field :taxon_id, class: 'form-control', :aria => {:describedby => "sizing-addon2"}, required: true %>
       </div>
       <p style="padding-top: 10px;"> Example: <i>Companion</i></p>
       <div class="input-group">
         <span class="input-group-addon" id="sizing-addon2">Database ID</span>
         <%= f.text_field :db_id, class: 'form-control', :aria => {:describedby => "sizing-addon2"}, required: true %>
       </div>
     </div>
   </div>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Your contact information (optional)</h3>
    </div>
    <div class="panel-body">
      <div><p>You can leave your email address if you want to be notified when your job starts and finishes. This is absolutely optional, if you choose not to share your email address, you can always manually check the status of your job using a private link provided by us after submission.</p></div>
      <div class="input-group">
       <span class="input-group-addon" id="sizing-addon1">Email</span>
       <%= f.text_field :email, class: 'form-control', :aria => {:describedby => "sizing-addon1"}, required: false %>
     </div>
   </div>
 </div>

 <div><p>To protect the service from automated bots, please prove that you are a human.</p></div>
   <%= show_simple_captcha %><br />

   <%= f.submit "Submit job", class: "btn btn-default"  %>
   <% end %>

   <script type="text/javascript">
   $(document).ready(function() {
    $('#advanced-panel').slideUp();
    $('#transcript-selection').slideUp();
    $('.panel-heading span.clickable').addClass('panel-collapsed');
    $('.panel-heading span.clickable').find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
    $('#job_abacas_match_size').bootstrapSlider({
      min: 200,
      max: 20000,
      scale: 'logarithmic',
      step: 50
    });
    $("#job_abacas_match_size").on("slide", function(slideEvt) {
      $("#job_abacas_match_size_curval").text(slideEvt.value);
    });
    $('#job_abacas_match_sim').bootstrapSlider();
    $("#job_abacas_match_sim").on("slide", function(slideEvt) {
      $("#job_abacas_match_sim_curval").text(slideEvt.value);
    });
  });

   jQuery(function ($) {
    $('.panel-heading span.clickable').on("click", function (e) {
      if ($(this).hasClass('panel-collapsed')) {
        $(this).parents('.panel').find('.panel-body').slideDown();
        $(this).removeClass('panel-collapsed');
        $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
      }
      else {
        $(this).parents('.panel').find('.panel-body').slideUp();
        $(this).addClass('panel-collapsed');
        $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
      }
    });
  });
   </script>