<% content_for(:title, "#{@job[:name]} results") %>
<div class="page-header">
  <h1><%= @job[:name] %><span class="small"> (<%= @job[:prefix] %>)</span>
    <% if @queued then %>
        <span class="label label-default pull-right">Queued</span>
    <% elsif @working then %>
        <span class="label label-info pull-right">Working</span>
    <% elsif @failed then %>
        <span class="label label-danger pull-right">Failed</span>
    <% elsif @complete then %>
        <span class="label label-success pull-right">Completed</span>
    <% else %>
        <span class="label label-default pull-right">No status available</span>
    <% end %>
  </h1>
</div>

<p>This job was submitted <b><%= distance_of_time_in_words(Time.now,@job[:created_at]) %></b> ago
  <% if @complete then %>
    and ran for <b><%= distance_of_time_in_words(@job[:started_at],@job[:finished_at])%></b>, finally finishing at <b><%= @job[:finished_at] %></b>.
  <% elsif @working then %>
    and is running now for <b><%= distance_of_time_in_words(Time.now,@job[:started_at]) %></b>.
  <% elsif @failed then %>
    and failed <b><%= distance_of_time_in_words(Time.now,@job[:finished_at]) %></b> ago.
  <% end %>
</p>

<% if @complete then %>

<%= render "tabs" %>

<% else %>
Please check back later to see the results of your run once it has finished.
<% end %>