<style>
  ul.circos {
      padding:0 0 0 0;
      margin:0 0 0 0;
  }
  ul.circos li {
      list-style:none;
      margin-bottom:25px;
  }
  ul.circos li img {
      cursor: pointer;
  }
  .modal-body {
      padding:5px !important;
  }
  .modal-content {
      border-radius:0;
  }
  .modal-dialog img {
      text-align:center;
      margin:0 auto;
  }
  .controls{
      width:50px;
      display:block;
      font-size:11px;
      padding-top:8px;
      font-weight:bold;
  }
  .next {
      float:right;
      text-align:right;
  }
  .span3 {
    height: 500px !important;
    overflow: scroll;
}
</style>

<h1><%= @job[:name] %><span class="small"> (<%= @job[:prefix] %>)</span></h1>

<div class="modal fade" id="jvennmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="vtabledesc">Clusters</h4>
      </div>
      <div class="modal-body">
        <div class="span3">
          <table class="table table-striped" id="vtable">
            <thead>
              <tr>
                <th data-field="id">Gene ID</th>
                <th data-field="product">Product</th>
                <th data-field="cluster">Cluster</th>
              </tr>
            </thead>
          </table>
        </div>
        <div id="vdownloadlink-container" aria-hidden="true"><a id="vdownloadlink"><i class="glyphicon glyphicon-download-alt"></i> Download</a> as text file</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="genelistmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gltabledesc"></h4>
      </div>
      <div class="modal-body">
        <div class="span3">
          <table class="table table-striped" id="gltable">
            <thead>
              <tr>
                <th data-field="id">Gene ID</th>
                <th data-field="product">Product</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="thumbmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>


<div class="row">
  <p>This job was submitted <b><%= distance_of_time_in_words(Time.now,@job[:created_at]) %></b> ago
    <% if @job[:finished_at] then %>
      and ran for <b><%= distance_of_time_in_words(@job[:started_at],@job[:finished_at])%></b>, finally finishing at <b><%= @job[:finished_at] %></b>.
    <% end %>
  </p>
<div style="margin-top:20px;">&nbsp;</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#stats">Genome statistics</a></li>
  <% if @job.result_files.size > 0 then %>
  <li><a data-toggle="tab" href="#result">Result files</a></li>
  <% end %>
  <% if @job[:finished_at] then %>
  <li><a data-toggle="tab" href="#orth">Orthology</a></li>
  <% end %>
  <% if @job[:finished_at] then %>
  <li><a data-toggle="tab" href="#phylo">Phylogeny</a></li>
  <% end %>
  <% if @job[:do_contiguate] and @job.circos_images.size > 0 then %>
  <li><a data-toggle="tab" href="#synteny">Synteny</a></li>
  <% end %>
  <li><a data-toggle="tab" href="#params">Job parameters</a></li>
  <li><a data-toggle="tab" href="#logs">Pipeline logs</a></li>
</ul>

<div class="tab-content">
<div id="stats" class="tab-pane fade in active">
  <div class="row">
    <table class="table table-striped">
       <tbody>
          <tr>
              <td>Number of annotated regions/sequences</td>
              <td><%= @job.genome_stat[:nof_regions]%></td>
          </tr>
          <tr>
              <td>Number of genes</td>
              <td><%= @job.genome_stat[:nof_genes]%></td>
          </tr>
          <tr>
              <td>Number of coding genes</td>
              <td><%= @job.genome_stat[:nof_coding_genes]%></td>
          </tr>
          <tr>
              <td>Number of genes with function</td>
              <td><%= @job.genome_stat[:nof_genes_with_function]%></td>
          </tr>
          <tr>
              <td>Number of non-coding genes</td>
              <td><%= @job.genome_stat[:nof_genes].to_i - @job.genome_stat[:nof_coding_genes].to_i %></td>
          </tr>
          <tr>
              <td>Number of genes with multiple CDSs</td>
              <td><%= @job.genome_stat[:nof_genes_with_mult_cds]%></td>
          </tr>
          <tr>
              <td>Overall GC%</td>
              <td><%= @job.genome_stat[:gc_overall].round(2)%></td>
          </tr>
          <tr>
              <td>Coding GC%</td>
              <td><%= @job.genome_stat[:gc_coding].round(2)%></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @job.result_files.size > 0 then %>
<div id="result" class="tab-pane fade">
       <table class="table table-striped">
          <thead>
              <tr>
                  <th></th>
                  <th class="text-right">Size</th>
              </tr>
          </thead>
          <tbody>
            <% @job.result_files.each do |file| %>
              <tr>
                  <td><%= link_to file.file.url do %>
                      <i class="glyphicon glyphicon-download-alt"></i>
                       <%= JobsHelper::file_description(file.file.name) %>
                    <% end %></td>
                  <td class="text-right"><%= number_to_human_size(file.file.size) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
  </div>
<% end %>

<% if @job[:finished_at] then %>
  <div id="orth" class="tab-pane fade">
    <div class="row">
      <p>Click on the numbers to view clusters and singleton gene lists.</p>
      <table class="small" style="width:100%;">
        <tr>
        <td style="width:12%;">
          <%= link_to '', {:class => 'genome-singletons-link'} do %>
            <span id="genome-singletons"></span> singletons
          <% end %>
        </td>
        <td style="width:76%;"><div id="jvenn-container"></div></td>
        <td style="width:12%;">
          <%= link_to '', {:class => 'ref-singletons-link'} do %>
            <span id="ref-singletons"></span> singletons
          <% end %>
        </td>
        </tr>
      </table>
    </div>
    <div>
      <%= link_to clusters_url(id: @job[:job_id]) do %>
          <i class="glyphicon glyphicon-download-alt"></i> Cluster assignments
     <% end %> as OrthoMCL 1.4 output file
    </div>
  </div>
<% end %>

<% if @job[:finished_at] then %>
  <div id="phylo" class="tab-pane fade">
    <div class="row">
      <div>
        <p>Click and drag in the diagram below to pan around. Use the mouse wheel to zoom in and out.</p>
        <div id="PhyloCanvas" style="height: 400px; width=100%;"> </div>
      </div>
      <div>
        <%= link_to @job.tree.seq.url do %>
          <i class="glyphicon glyphicon-download-alt"></i> Multiple sequence alignment
        <% end %> for this tree (FASTA)<br />
        <%= link_to '', {:class => 'tree_genes'} do %>
          <i class="glyphicon glyphicon-list"></i> Core genes
        <% end %> used to build this tree
       </div>
    </div>
  </div>
<% end %>

<% if @job[:do_contiguate] and @job.circos_images.size > 0 then %>
<div id="synteny" class="tab-pane fade">
  <div class="row">
    <p>Each circle below represents a single target-reference pseudochromosome
       alignment. Click on it to zoom in.</p>
    <ul class="media-list">
      <% 3.times do %>
      <% @job.circos_images.each do |image| %>
      <li class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag image.file.thumb('70x70').url, class: "media-object", :data => {:full_URL => image.file.url} %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= image.file.name %></h4>
        </div>
      </li>
      <% end %>
      <% end %>
    </ul>

  </div>
</div>
<% end %>

<div id="logs" class="tab-pane fade">
  <div class="row">
    <h4>Standard output:</h4>
    <pre><%= @job[:stdout] %></pre>
    <h4>Standard error:</h4>
    <pre><%= @job[:stderr] %></pre>
  </div>
</div>


<div id="params" class="tab-pane fade">
  <div class="row">
    <div>
      The parameters you have chosen for your <b><%= @file.file_name %></b> vs. <b><%= @ref.name %></b> run are:
    </div>
    <table class="table table-striped">
        <tbody>
          <tr>
              <td>Pseudochromosomes</td>
              <td>
                  <% if @job[:do_contiguate] %>
                    &#10003;
                  <% else %>
                    &#10007;
                  <% end %>
              </td>
          </tr>
          <tr>
              <td>Protein evidence</td>
              <td>
                  <% if @job[:do_exonerate] %>
                    &#10003;
                  <% else %>
                    &#10007;
                  <% end %>
              </td>
          </tr>
          <tr>
              <td>RATT</td>
              <td>
                  <% if @job[:do_ratt] %>
                    &#10003;
                  <% else %>
                    &#10007;
                  <% end %>
              </td>
          </tr>
          <tr>
              <td>Max gene length</td>
              <td><%= @job[:max_gene_length] %></td>
          </tr>
          <tr>
              <td>Score threshold</td>
              <td><%= @job[:augustus_score_threshold].round(2) %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
$(document).ready(function(){
  $.getJSON( "<%= @job[:job_id] %>/orths", function(data) {
    $('#jvenn-container').jvenn({
      displayStat: false,
      exporting: true,
      series: data,
      fnClickCallback: function() {
        $('#vtable tbody').remove();
        var value = "";
        for (name in this.listnames) {
          value += this.listnames[name] + " ";
        }
        $.getJSON( "<%= @job[:job_id] %>/orths/cluster/" + value, function(data2) {
          $('#vtabledesc').text("Clusters in: " + value);
          for(var i = 0; i < data2.length; i++) {
            $("#vtable").append("<tr><td>" + data2[i].id + "</td><td>"
                                           + data2[i].product + "</td><td>"
                                           + data2[i].cluster + "</td></tr>");
          }
          if (data2.length > 0) {
            $('#vdownloadlink-container').show();
            $('#vdownloadlink').attr('href','<%= @job[:job_id] %>/orths/cluster/'+ value);
          } else {
            $('#vdownloadlink-container').hide();
          }
          $('#jvennmodal').modal()
        });
      }
    });
  });
  $.getJSON( "<%= @job[:job_id] %>/singletons", function(data) {
    $('#ref-singletons').text(data.ref.length);
    $('#genome-singletons').text(data.this.length);
    $('.ref-singletons-link').click(function(event) {
      $("#gltable").empty();
      $('#gltabledesc').text("Singleton genes in reference");
      for(var i = 0; i < data.ref.length; i++) {
        $("#gltable").append("<tr><td>" + data.ref[i].gene_id + "</td><td>"
                                       + data.ref[i].product + "</td></tr>");
      }
      $('#genelistmodal').modal();
      event.preventDefault();
    });
    $('.genome-singletons-link').click(function(event) {
      $("#gltable").empty();
      $('#gltabledesc').text("Singleton genes in new genome");
      for(var i = 0; i < data.this.length; i++) {
        $("#gltable").append("<tr><td>" + data.this[i].gene_id + "</td><td>"
                                       + data.this[i].product + "</td></tr>");
      }
      $('#genelistmodal').modal();
      event.preventDefault();
    });
  });

  var firstPhyloTabOpen = true;
  // hook into tab change events
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href");
    if (target == '#phylo' && firstPhyloTabOpen) {
      var phylocanvas = new PhyloCanvas.Tree('PhyloCanvas', { history_collapsed : true });
      phylocanvas.setTreeType("radial");
      phylocanvas.load('<%= @job[:job_id] %>/tree.nwk');
      phylocanvas.draw();
      firstPhyloTabOpen = false;
    }
  });

  $('li img').on('click',function(){
    var src = $(this).attr('data-full-URL');
    var img = '<img src="' + src + '" class="img-responsive"/>';
    $('#thumbmodal').modal();
    $('#thumbmodal').on('shown.bs.modal', function(){
        $('#thumbmodal .modal-body').html(img);
    });
    $('#thumbmodal').on('hidden.bs.modal', function(){
        $('#thumbmodal .modal-body').html('');
    });
  });
  $('.tree_genes').click(function(event) {
    $.getJSON( "<%= @job[:job_id] %>/tree/genes", function(data) {
      $("#gltable").empty();
      for(var i = 0; i < data.length; i++) {
        $("#gltable").append("<tr><td>" + data[i].gene_id + "</td><td>"
                                       + data[i].product + "</td></tr>");
      }
      $('#genelistmodal').modal();
    });
    event.preventDefault();
  });
});
</script>