<% content_for(:title, "#{@job[:name]} results") %>
<div class="page-header">
  <h1><%= @job[:name] %> <span class="small">(<%= @job[:prefix] %>)</span>
    <%= render partial: "badge", locals: {:job => @job_hash, :extraclass => "pull-right"} %>
  </h1>
</div>

<p>This job was submitted <b><%= distance_of_time_in_words(Time.now,@job[:created_at]) %></b> ago
  <% if @complete then %>
    and ran for <b><%= distance_of_time_in_words(@job[:started_at],@job[:finished_at])%></b>, finally finishing at <b><%= @job[:finished_at] %></b>.
  <% elsif @working then %>
    and is running now<% if @job[:started_at] then %>
      for <b><%= distance_of_time_in_words(Time.now,@job[:started_at]) %></b><% end %>.
  <% elsif @failed then %>
    and failed <b><%= distance_of_time_in_words(Time.now,@job[:finished_at]) %></b> ago.
  <% end %>
</p>

<% if @job_hash[:complete] then %>
  <%= render "tabs" %>
<% else %>
  Please check back later to see the results of your run once it has finished.
<% end %>