<style>
  ul.circos {
      padding:0 0 0 0;
      margin:0 0 0 0;
  }
  ul.circos li {
      list-style:none;
      margin-bottom:25px;
  }
  ul.circos li img {
      cursor: pointer;
  }
  .modal-body {
      padding:5px !important;
  }
  .modal-content {
      border-radius:0;
  }
  .modal-dialog img {
      text-align:center;
      margin:0 auto;
  }
  .controls{
      width:50px;
      display:block;
      font-size:11px;
      padding-top:8px;
      font-weight:bold;
  }
  .next {
      float:right;
      text-align:right;
  }
  .span3 {
    height: 500px !important;
    overflow: scroll;
}
</style>

<h1><%= @job[:name] %><span class="small"> (<%= @job[:prefix] %>)</span></h1>

<div class="modal fade" id="jvennmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="vtabledesc">Clusters</h4>
      </div>
      <div class="modal-body">
        <div class="span3">
          <table class="table table-striped" id="vtable">
            <thead>
              <tr>
                <th data-field="id">Gene ID</th>
                <th data-field="product">Product</th>
                <th data-field="cluster">Cluster</th>
              </tr>
            </thead>
          </table>
        </div>
        <div id="vdownloadlink-container" aria-hidden="true"><a id="vdownloadlink"><i class="glyphicon glyphicon-download-alt"></i> Download</a> as text file</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="genelistmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gltabledesc"></h4>
      </div>
      <div class="modal-body">
        <div class="span3">
          <table class="table table-striped" id="gltable">
            <thead>
              <tr>
                <th data-field="id">Gene ID</th>
                <th data-field="product">Product</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="thumbmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

      <div class="row">
        <p>This job was submitted <b><%= distance_of_time_in_words(Time.now,@job[:created_at]) %></b> ago<% if @job[:finished_at] then %>
            and ran for <b><%= distance_of_time_in_words(@job[:started_at],@job[:finished_at])%></b>, finally finishing at <b><%= @job[:finished_at] %></b>
          <% end %>.
<span class="pull-right" style="font-size: 200%; margin-right: 30px;">
<% if @queued then %>
    <span class="label label-info">Queued</span>
<% elsif @working then %>
    <span class="label label-info">Working</span>
<% elsif @failed then %>
    <span class="label label-danger">Failed</span>
<% elsif @complete then %>
    <span class="label label-success">Completed</span>
<% else %>
    <span class="label label-default">No status available</span>
<% end %></span>
        </p>
        <div style="margin-top:20px;">&nbsp;</div>
        <div class="col-md-8">

<% if @job.genome_stat then %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Genome statistics</h3>
  </div>
  <table class="table table-striped">
       <tbody>
          <tr>
              <td>Number of annotated regions/sequences</td>
              <td><%= @job.genome_stat[:nof_regions]%></td>
          </tr>
          <tr>
              <td>Number of genes</td>
              <td><%= @job.genome_stat[:nof_genes]%></td>
          </tr>
          <tr>
              <td>Number of coding genes</td>
              <td><%= @job.genome_stat[:nof_coding_genes]%></td>
          </tr>
          <tr>
              <td>Number of genes with function</td>
              <td><%= @job.genome_stat[:nof_genes_with_function]%></td>
          </tr>
          <tr>
              <td>Number of non-coding genes</td>
              <td><%= @job.genome_stat[:nof_genes].to_i - @job.genome_stat[:nof_coding_genes].to_i %></td>
          </tr>
          <tr>
              <td>Number of genes with multiple CDSs</td>
              <td><%= @job.genome_stat[:nof_genes_with_mult_cds]%></td>
          </tr>
          <tr>
              <td>Overall GC%</td>
              <td><%= @job.genome_stat[:gc_overall].round(2)%></td>
          </tr>
          <tr>
              <td>Coding GC%</td>
              <td><%= @job.genome_stat[:gc_coding].round(2)%></td>
          </tr>
      </tbody>
  </table>
</div>
<% end %>

<% if @job.result_files.size > 0 then %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Result files</h3>
    </div>
       <table class="table table-striped">
          <thead>
              <tr>
                  <th></th>
                  <th class="text-right">Size</th>
              </tr>
          </thead>
          <tbody>
            <% @job.result_files.each do |file| %>
              <tr>
                  <td><%= link_to file.file.url do %>
                      <i class="glyphicon glyphicon-download-alt"></i>
                       <%= JobsHelper::file_description(file.file.name) %>
                    <% end %></td>
                  <td class="text-right"><%= number_to_human_size(file.file.size) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>

  </div>
<% end %>

<% if @job[:finished_at] then %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Orthologous clusters</h3>
    </div>
    <div class="panel-body">
        <p>Click on the numbers to view clusters and singleton gene lists.</p>
        <table class="small" style="width:100%;">
          <tr>
          <td style="width:12%;">
            <%= link_to '', {:class => 'genome-singletons-link'} do %>
              <span id="genome-singletons"></span> singletons
            <% end %>
          </td>
          <td style="width:76%;"><div id="jvenn-container"></div></td>
          <td style="width:12%;">
            <%= link_to '', {:class => 'ref-singletons-link'} do %>
              <span id="ref-singletons"></span> singletons
            <% end %>
          </td>
          </tr>
        </table>
    </div>
     <div class="panel-footer">
      <%= link_to clusters_url(id: @job[:job_id]) do %>
            <i class="glyphicon glyphicon-download-alt"></i> Cluster assignments
       <% end %> as OrthoMCL 1.4 output file
     </div>
  </div>
<% end %>

<% if @job[:finished_at] then %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Phylogeny</h3>
    </div>
    <div class="panel-body">
      <p>Click and drag in the diagram below to pan around. Use the mouse wheel to zoom in and out.</p>
      <div class="center=block">
        <div id="svgCanvas"> </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= link_to @job.tree.seq.url  do %>
            <i class="glyphicon glyphicon-download-alt"></i> Multiple sequence alignment
       <% end %> for this tree (FASTA)<br />
      <%= link_to '', {:class => 'tree_genes'} do %>
            <i class="glyphicon glyphicon-list"></i> Core genes
      <% end %> used to build this tree
     </div>
  </div>
<% end %>

<% if @job[:do_contiguate] and @job.circos_images.size > 0 then %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Target-reference comparison</h3>
  </div>
  <div class="panel-body">
    <p>Each circle below represents a single target-reference pseudochromosome
       alignment. Click on it to zoom in.</p>
    <div class="container-fluid">
      <ul class="circos row">
        <% @job.circos_images.each do |image| %>
            <li class="col-lg-2 col-md-2 col-sm-3">
              <%= image_tag image.file.url, class: "img-responsive" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pipeline output logs</h3>
    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
  </div>
  <div id="logs-panel" class="panel-body">
    <h3>Standard output:</h3>
    <pre><%= @job[:stdout] %></pre>
    <h3>Standard error:</h3>
    <pre><%= @job[:stderr] %></pre>
  </div>
</div>
        </div>
        <div class="col-md-4">

          <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Job parameters</h3>
  </div>
  <div class="panel-body">
    <div style="text-align: center;">
    <b><%= @file.file_name %></b><br />
 vs.   <br /> <b><%= @ref.name %></b><br /><br />
    </div>
    <table class="table table-striped">
          <tbody>
            <tr>
                <td>Pseudochromosomes</td>
                <td>
                    <% if @job[:do_contiguate] %>
                      &#10003;
                    <% else %>
                      &#10007;
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>Protein evidence</td>
                <td>
                    <% if @job[:do_exonerate] %>
                      &#10003;
                    <% else %>
                      &#10007;
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>RATT</td>
                <td>
                    <% if @job[:do_ratt] %>
                      &#10003;
                    <% else %>
                      &#10007;
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>Max gene length</td>
                <td><%= @job[:max_gene_length] %></td>
            </tr>
            <tr>
                <td>Score threshold</td>
                <td><%= @job[:augustus_score_threshold].round(2) %></td>
            </tr>
        </tbody>
          </table>
            </div>
      </div>
</div>

<script>
$(document).ready(function(){
  $.getJSON( "<%= @job[:job_id] %>/orths", function(data) {
    $('#jvenn-container').jvenn({
      displayStat: false,
      exporting: true,
      series: data,
      fnClickCallback: function() {
        $('#vtable tbody').remove();
        var value = "";
        for (name in this.listnames) {
          value += this.listnames[name] + " ";
        }
        $.getJSON( "<%= @job[:job_id] %>/orths/cluster/" + value, function(data2) {
          $('#vtabledesc').text("Clusters in: " + value);
          for(var i = 0; i < data2.length; i++) {
            $("#vtable").append("<tr><td>" + data2[i].id + "</td><td>"
                                           + data2[i].product + "</td><td>"
                                           + data2[i].cluster + "</td></tr>");
          }
          if (data2.length > 0) {
            $('#vdownloadlink-container').show();
            $('#vdownloadlink').attr('href','<%= @job[:job_id] %>/orths/cluster/'+ value);
          } else {
            $('#vdownloadlink-container').hide();
          }
          $('#jvennmodal').modal()
        });
      }
    });
  });
  $.getJSON( "<%= @job[:job_id] %>/singletons", function(data) {
    $('#ref-singletons').text(data.ref.length);
    $('#genome-singletons').text(data.this.length);
    $('.ref-singletons-link').click(function(event) {
      $("#gltable").empty();
      $('#gltabledesc').text("Singleton genes in reference");
      for(var i = 0; i < data.ref.length; i++) {
        $("#gltable").append("<tr><td>" + data.ref[i].gene_id + "</td><td>"
                                       + data.ref[i].product + "</td></tr>");
      }
      $('#genelistmodal').modal();
      event.preventDefault();
    });
    $('.genome-singletons-link').click(function(event) {
      $("#gltable").empty();
      $('#gltabledesc').text("Singleton genes in new genome");
      for(var i = 0; i < data.this.length; i++) {
        $("#gltable").append("<tr><td>" + data.this[i].gene_id + "</td><td>"
                                       + data.this[i].product + "</td></tr>");
      }
      $('#genelistmodal').modal();
      event.preventDefault();
    });
  });
  var phylocanvas = new PhyloCanvas.Tree('svgCanvas', { history_collapsed : true });
  phylocanvas.setTreeType("radial");
  phylocanvas.load('<%= @job[:job_id] %>/tree.nwk');
  phylocanvas.setNodeColourAndShape("LmjF.1", "red", "x", 20);
  //phylocanvas.setNodeColourAndShape("", 'orange', 'x');
  phylocanvas.draw();

  $('li img').on('click',function(){
    var src = $(this).attr('src');
    var img = '<img src="' + src + '" class="img-responsive"/>';
    $('#thumbmodal').modal();
    $('#thumbmodal').on('shown.bs.modal', function(){
        $('#thumbmodal .modal-body').html(img);
    });
    $('#thumbmodal').on('hidden.bs.modal', function(){
        $('#thumbmodal .modal-body').html('');
    });
  });
  $('.tree_genes').click(function(event) {
    $.getJSON( "<%= @job[:job_id] %>/tree/genes", function(data) {
      $("#gltable").empty();
      for(var i = 0; i < data.length; i++) {
        $("#gltable").append("<tr><td>" + data[i].gene_id + "</td><td>"
                                       + data[i].product + "</td></tr>");
      }
      $('#genelistmodal').modal();
    });
    event.preventDefault();
  });
  $('#logs-panel').slideUp();
  $('.panel-heading span.clickable').addClass('panel-collapsed');
  $('.panel-heading span.clickable').find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
});

jQuery(function ($) {
  $('.panel-heading span.clickable').on("click", function (e) {
    if ($(this).hasClass('panel-collapsed')) {
      // expand the panel
      $(this).parents('.panel').find('.panel-body').slideDown();
      $(this).removeClass('panel-collapsed');
      $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
    }
    else {
      // collapse the panel
      $(this).parents('.panel').find('.panel-body').slideUp();
      $(this).addClass('panel-collapsed');
      $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
    }
  });
});
</script>