 <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sign Up</div>
                    </div>
                    <div class="panel-body" >
                        <%= form_for(@user, :id => "signupform", :class => "form-horizontal") do |f| %>
                            <%= render 'shared/errors' %>

                            Choose a short user name, e.g. <tt>jsmith</tt>:
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">User name</span>
                                <%= f.text_field :name, :class => "form-control", :placeholder => "username" %>
                            </div>
                            This username will be used for future logins into this site. If you like, you can also give us your full name:
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">Full name</span>
                                <%= f.text_field :fullname, :class => "form-control", :placeholder => "full name" %>
                            </div>
                            To notify you of the state of your job, we also need your email address:
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">Email address</span>
                                <%= f.text_field :email, :class => "form-control", :placeholder => "me@example.com" %>
                            </div>
                            Please choose a password:
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">Password</span>
                                <%= f.text_field :password, :class => "form-control", :placeholder => "password" %>
                            </div>
                            Please repeat your password for confirmation:
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">Password</span>
                                <%= f.text_field :password_confirmation, :class => "form-control", :placeholder => "password (again)" %>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <%= button_tag( :class => "btn btn-default") do %>
                                      <i class="glyphicon glyphicon-user"></i> Sign up
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                     </div>
                </div>
         </div>
    </div>
