<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Companion" %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <%= yield :head %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="http://www.gla.ac.uk" class="navbar-brand">
          <%= image_tag 'gla_logo.png', alt: 'University of Glasgow' %>
        </a>
        <a href="http://companion.ac.uk" class="navbar-brand">
          <%= image_tag 'companion_logo.png', alt: 'Companion' %>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(new_job_path) %> <%= 'disabled' if @closed %>">
           <%= link_to (@closed ? '#' : new_job_path) do  %>
             <span class="glyphicon glyphicon-cloud-upload"></span> Submit job
           <% end %>
         </li>
          <li class="<%= current_page?(references_path) ? 'active' : 'new-tab' %>">
            <%= link_to references_path do %>
              <i class="fa fa-handshake-simple"></i> References
            <% end %>
          </li>
         <li class="<%= 'active' if current_page?(getting_started_path) %>">
          <%= link_to getting_started_path do  %>
          <i class="fa fa-cogs"></i> Getting started
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(examples_path) %>">
          <%= link_to examples_path do  %>
          <i class="fa fa-list-alt"></i> Example results
          <% end %>
        </li>
       <li class="<%= 'active' if current_page?(survey2018_path) %>">
          <%= link_to survey2018_path do  %>
          <i class="fa fa-question"></i> Survey 2018
          <% end %>
        </li>

       <li class="<%= 'active' if current_page?(faq_path) %>">
          <%= link_to faq_path do  %>
          <i class="fa fa-question"></i> FAQ
          <% end %>
        </li>
      </ul>
      <div class="navbar-right">
        <p class="navbar-text">
          <span title="Companion version">
            <%= File.read(File.expand_path("..", CONFIG['nextflowscript']) + "/.version") rescue "" %>
          </span>
        </p>
        <p class="navbar-text">
          <span title="<%= @n_working %> jobs running, <%= @n_queued %> queued">
            <i class="fa fa-server"></i>
            <%= @n_working %>/<%= @n_queued %>
          </span>
        </p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? then %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div>
              <%= gravatar_for current_user %> <%= current_user[:fullname] %>
              <span class="caret"></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Manage jobs", jobs_url %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% flash.each do |message_type, message| %>
  <% if not /verification_/.match(message) then %>
    <div class="alert alert-<%= message_type %>"><%= message.html_safe %></div>
  <% end %>
  <% end %>
  <%= yield %>
  <%= render 'cookies_eu/consent_banner' %>
</div>

<footer class="footer">
  <div class="copyright">
    <p class="pull-right" style="margin-right: 20px;">
      <a href="http://www.gla.ac.uk/legal/">Terms and conditions</a> &middot; <a href="https://www.gla.ac.uk/legal/privacy/">Privacy policy</a>
    </p>
    <p>
      Companion was first developed by the <a href="http://www.sanger.ac.uk/science/groups/berriman-group">Parasite Genomics group</a> at the WTSI and now is continued in the <a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/thomasdanotto/">biottofni</a> 
group in Glasgow. Copyright &copy; 2015 Genome Research Limited.
    </p>
  </div>
</footer>
</body>
</html>
