<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Companion" %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, :class => "navbar-brand" do %>
         <%= image_tag 'companion_logo.png', width: "80" %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(new_job_path) %>">
           <%= link_to new_job_path do  %>
             <span class="text-info"><span class="glyphicon glyphicon-cloud-upload"></span> Submit job</span>
           <% end %>
        </li>
        <li class="<%= 'active' if current_page?(examples_path) %>">
          <%= link_to "Examples", examples_path %>
        </li>
        <li class="<%= 'active' if current_page?(how_it_works_path) %>">
          <%= link_to "How it works", how_it_works_path %>
        </li>
        <li class="<%= 'active' if current_page?(faq_path) %>">
          <%= link_to "FAQ", faq_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-text"><%= Sidekiq::Queue.new.size %> jobs queued, <%= Sidekiq::Queue.new.reduce(0) { |a,j| if Sidekiq::Status::working?(j.jid ) then a = a + 1 end } %> running</p>
        </li>
        <% if logged_in? then %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div>
              <%= gravatar_for current_user %> <%= current_user[:fullname] %>
              <span class="caret"></span>
            </div>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Manage jobs", jobs_url %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message.html_safe %></div>
<% end %>
<%= yield %>
</div>

<footer class="footer">
  <div class="pull-right" style="margin-right: 20px">
    <a href="http://www.sanger.ac.uk/research/projects/parasitegenomics">
      <%= image_tag 'sang_logo.png', height: "32" %>
    </a>
  </div>
  <div class="copyright">
    <p>
      Companion is developed and maintained by the <a href="http://www.sanger.ac.uk/science/groups/berriman-group">Parasite Genomics group</a> at the Wellcome Trust Sanger Institute.<br />
      Copyright &copy; 2015 Genome Research Limited. <a href="http://www.sanger.ac.uk/legal/">Terms and conditions</a> apply.
    </p>
  </div>
</footer>
</body>
</html>
